.about {
  width: 100%;
  padding-bottom: 33px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    background-color: $brown;
    top: 0;
    left: 10px;
  }
}

.about__image {
  width: 280px;
  height: 174px;
  background-image: url("../img/about.jpg");
  margin-left: auto;

  @media (min-resolution: $retina) {
    background-image: url("../img/about@2x.jpg");
    background-size: 280px auto;
  }
}

.about__description {
  background-color: $white;
  width: 93.2%;
  margin-top: -40px;
  padding: 34px 20px 40px 20px;
  position: relative;
  z-index: 2;
}

.about__title {
  @include section-title;
}

.about__text {
  text-align: left;
  margin: 0;
  margin-bottom: 8px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

@media (min-width: $large) {
  .about::before {
    width: 2px;
    left: 300px;
  }

  .about__image {
    width: 920px;
    height: 570px;
    margin-left: auto;
    background-image: url("../img/about-desktop.jpg");
    order: 2;
    flex-shrink: 0;

    @media (min-resolution: $retina) {
      background-image: url("../img/about-desktop@2x.jpg");
      background-size: 920px auto;
    }
  }

  .about__description {
    width: 44%;
    margin: 0;
    order: 1;
    padding: 55px 30px 55px 60px;
    position: absolute;
    top: 60px;
    left: 0;
  }

  .about__title {
    margin-bottom: 30px;
  }

  .about__text {
    font-size: 16px;
    line-height: 24px;
  }
}
