.about {
  width: 100%;
  padding-bottom: 33px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    background-color: $brown;
    top: 0;
    left: 10px;
  }
}

.about__image {
  width: 280px;
  height: 174px;
  background-image: url("../img/about.jpg");
  margin-left: 20px;
}

.about__description {
  background-color: $white;
  width: 93.2%;
  margin-top: -40px;
  padding: 34px 20px 40px 20px;
  position: relative;
  z-index: 2;
}

.about__title {
  @include section-title;
}

.about__text {
  text-align: left;
  margin: 0;
  margin-bottom: 8px;

  &:last-of-type {
    margin-bottom: 0;
  }
}
