.employees {
  padding: 53px 20px 55px 20px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 1px;
    top: 0;
    left: 0;
    background-color: $brown;
  }

  &::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    top: 0;
    left: 10px;
    background-color: $brown;
  }
}

.employees__title {
  @include section-title;
  padding-left: 10px;
  margin-bottom: 28px;
}

.employees__list {
  list-style: none;
  margin: 0;
  margin-right: -20px;
  margin-top: -45px;
  text-align: left;
  padding: 28px 20px 32px 39px;
  background-color: $white;
  position: relative;
  z-index: 20;
}

.employees__item {
  margin-bottom: 8px;
  position: relative;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    content: "—";
    position: absolute;
    left: -20px;
    color: $blue;
  }
}

.employees__swiper {
  margin-left: -21px;
  position: relative;
}

.employees__swiper .employees__swiper-pagination {
  bottom: 53px;
}

.employees__swiper-pagination .swiper-pagination-bullet {
  background-color: $white;
  width: 6px;
  height: 6px;
  opacity: 1;
  vertical-align: middle;
}

.employees__swiper-pagination .swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
}

.employees__swiper-buttons {
  display: none;
}

@media (min-width: $large) {
  .employees {
    padding: 42px 0 285px 0;
    position: relative;

    &::before {
      width: 298px;
      height: 2px;
    }

    &::after {
      width: 2px;
      left: 298px;
    }
  }

  .employees__title {
    padding-left: 330px;
    margin-bottom: 100px;
  }

  .employees__title br {
    display: none;
  }

  .employees__swiper {
    width: 64%;
    margin-left: 0;
    margin-right: auto;
  }

  .employees__swiper-pagination {
    display: none;
  }

  .employees__list {
    position: absolute;
    width: 37.6%;
    padding: 45px 60px 60px 75px;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    top: 130px;
    right: 0;
  }

  .employees__item {
    margin-bottom: 10px;

    &::before {
      left: -25px;
    }
  }

  .employees__swiper-buttons {
    display: block;
    position: absolute;
    left: 60px;
    bottom: 110px;
    z-index: 2;
  }

  .employees__swiper-button-prev,
  .employees__swiper-button-next {
    @include reset-button;
    display: block;
    width: 20px;
    height: 5px;
    margin-bottom: 5px;
    position: relative;

    &:last-of-type {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 1px;
      width: 20px;
      background-color: $gray;
    }
  }

  .employees__swiper-button-next {
    position: relative;

    &::before {
      box-shadow: 0 1px rgba($light-gray, 0.5);
    }

    &::after {
      content: "";
      position: absolute;
      height: 5px;
      width: 1px;
      bottom: 4px;
      right: 2px;
      transform: rotate(-45deg);
      background-color: $gray;
    }
  }

  .employees__swiper-button-prev {
    position: relative;

    &::before {
      box-shadow: 0 -1px rgba($light-gray, 0.5);
    }

    &::after {
      content: "";
      position: absolute;
      height: 5px;
      width: 1px;
      top: 0;
      left: 2px;
      transform: rotate(-45deg);
      background-color: $gray;
    }
  }
}
