.employees {
  padding: 0 20px 55px 20px;
}

.employees__title {
  @include section-title;
  line-height: 32px;
}

.employees__list {
  list-style: none;
  margin: 0;
  margin-right: -20px;
  margin-top: -40px;
  text-align: left;
  padding: 30px 10px 30px 40px;
  background-color: $white;
  position: relative;
  z-index: 20;
}

.employees__item {
  margin-bottom: 15px;
  position: relative;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    content: "—";
    position: absolute;
    left: -20px;
  }
}

.employees__swiper {
  margin-left: -30px;
}

.employees__swiper .employees__swiper-pagination {
  bottom: 50px;
}

.employees__swiper-pagination .swiper-pagination-bullet {
  background-color: $white;
  width: 6px;
  height: 6px;
  opacity: 1;
  vertical-align: middle;
}

.employees__swiper-pagination .swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
}
