.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 23px 20px 25px 20px;
}

.header__link {
  cursor: pointer;
}

.header__logo {
  width: 106px;
  height: 30px;
}

.header__button {
  display: none;
}

@media (min-width: $large) {
  .header {
    padding: 40px 60px 37px 60px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 2px;
      height: 100%;
      top: 0;
      left: 300px;
      background-color: $brown;
    }
  }

  .header__logo {
    width: 150px;
    height: 40px;
  }

  .header__button {
    display: block;
  }
}
