.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 23px 20px 25px 20px;
}

.header__link {
  cursor: pointer;
}

.header__logo {
  width: 106px;
  height: 30px;
}

.header__button {
  @include reset-button;
  display: none;
}

@media (min-width: $large) {
  .header {
    padding: 40px 60px;
  }

  .header__button {
    display: block;
  }
}
