.now {
  padding: 36px 20px 21px 20px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 164px;
    bottom: 0;
    left: 10px;
    background-color: $brown;
  }

  &::after {
    position: absolute;
    content: "";
    width: calc(100% - 10px);
    height: 1px;
    bottom: 0;
    left: 10px;
    background-color: $brown;
  }
}

.now__title {
  @include section-title;
  margin-bottom: 13px;
}

.now__wrapper {
  display: flex;
  padding-bottom: 46px;
}

.now__text {
  margin: 0;
  text-align: left;
  width: 45%;
  margin-right: 9%;
}

.now__br {
  display: none;
}

.now__info {
  width: 35%;
  margin-top: -2px;
}

.now__stats {
  margin: 0;
  text-align: left;
  margin-bottom: 8px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.now__large-text {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
}

.now__numbers {
  font-size: 36px;
  line-height: 26px;
  font-weight: 700;

  &--volume {
    margin-bottom: 3px;
    display: block;
  }
}

.now__facts {
  list-style: none;
  margin: 0;
  margin-left: -20px;
  text-align: left;
  padding: 25px 10px 27px 39px;
  background-color: $white;
  position: relative;
  z-index: 2;

  &::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 1px;
    left: 0;
    top: -20px;
    background-color: $brown;
  }

  &::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 20px;
    left: 10px;
    top: -20px;
    background-color: $brown;
  }
}

.now__fact-item {
  margin-bottom: 8px;
  position: relative;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    content: "—";
    position: absolute;
    left: -20px;
    color: $blue;
  }
}

.now__image {
  width: 280px;
  height: 174px;
  background-image: url("../img/now.jpg");
  margin-top: -30px;
  position: relative;
  z-index: 1;

  @media (min-resolution: $retina) {
    background-image: url("../img/now@2x.jpg");
    background-size: 280px auto;
  }
}

@media (min-width: $large) {
  .now {
    padding: 42px 0 50px 60px;

    &::before {
      width: 2px;
      height: 84px;
      left: 300px;
    }

    &::after {
      height: 2px;
      left: 300px;
    }
  }

  .now__title {
    margin-bottom: 18px;
  }

  .now__wrapper {
    justify-content: space-between;
    padding-right: 60px;
  }

  .now__text {
    width: 46%;
    font-size: 16px;
    line-height: 24px;
    margin-right: 80px;
  }

  .now__text br {
    display: none;
  }

  .now__text .now__br {
    display: block;
  }

  .now__info {
    display: flex;
    width: 50%;
  }

  .now__stats {
    display: block;
    width: 50%;
    margin-right: 70px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .now__text-wrapper {
    display: flex;
    align-items: flex-end;
    margin-bottom: 8px;
  }

  .now__large-text {
    font-size: 16px;
    line-height: 25px;
  }

  .now__numbers {
    font-size: 48px;
    line-height: 42px;
    margin-right: 4px;

    &--volume {
      margin-bottom: 0;
    }
  }

  .now__plain-text {
    font-size: 16px;
    line-height: 21px;
  }

  .now__image {
    width: 920px;
    height: 570px;
    background-image: url("../img/now-desktop.jpg");
    margin-top: 0;
    margin-left: auto;

    @media (min-resolution: $retina) {
      background-image: url("../img/now-desktop@2x.jpg");
      background-size: 920px auto;
    }
  }

  .now__facts {
    width: 39.2%;
    position: absolute;
    bottom: 96px;
    left: 0;
    font-size: 16px;
    line-height: 24px;
    padding: 60px 30px 60px 105px;

    &::before {
      width: 298px;
      height: 2px;
      top: -35px;
    }

    &::after {
      width: 2px;
      height: 35px;
      left: 300px;
      top: -35px;
    }
  }

  .now__fact-item::before {
    left: -30px;
  }
}
