.projects {
  padding: 0 12px 45px 30px;
}

.projects__title {
  @include section-title;
}

.projects__text {
  margin: 0;
  text-align: left;
}

.projects__description {
  background-color: $white;
  padding: 27px 20px 26px 20px;
  margin-top: -30px;
  position: relative;
  z-index: 20;
  margin-bottom: 30px;
}

.projects__subtitle {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  margin: 0;
  margin-bottom: 17px;
}
